body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
  background-color: hsla(219, 30%, 13%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.navbar.section {
  background-color: hsl(217, 28%, 15%);
  width: auto;
  height: auto;
}

.navbar.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

nav {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(217, 28%, 15%);
}

a {
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 2rem;
  position: relative;
  letter-spacing: 2px;
}

.logo {
  width: 132px;
  height: 39px;
}

.hero.section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(217, 28%, 15%);
  position: relative;
  padding-bottom: 5rem;
}

.hero.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 50%;
  max-width: 90%;
  padding-top: 2rem;
}

p.hero {
  text-align: center;
  width: 60%;
}

p.benefits {
  text-align: center;
}

p.profile.name {
  font-size: 12px;
  font-weight: 900;
  margin: 0;
}

p.profile.title {
  font-size: 8px;
  margin: 0;
  color: #959EAF;
}

p.profile.review {
  padding-top: 2rem;
}

p.signup {
  text-align: center;
  padding: 1.5rem;
}

h1.hero {
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin: -1rem;
}

.hero.img {
  width: 70%;
  overflow: hidden;
}

.hero.background.img {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  height: 50%;
}

.btn {
  border-radius: 25px;
  background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  padding: 1rem 5rem;
  margin-top: 1.5rem;
}

.benefits.section {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 8rem;
  padding-top: 5rem;
}

.benefits.container {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5rem;
}

.benefits.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section.stay-productive {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stay-productive.container {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stay-productive.right.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
}

.stay-productive.left.container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

img.stay-productive {
  width: 100%;
  max-width: 600px;
  height: auto;
}

a.link {
  border-bottom: 1px solid hsl(176, 68%, 64%);
  color: hsl(176, 68%, 64%);
  padding-bottom: 5px;
}

.stay-productive.link.icon {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow-icon {
  padding-left: 5px;
}

.section.testimonials {
  min-width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
  padding-bottom: 20rem;
}

.testimonials.container {
  width: 80%;
  position: relative;
}

img.quotes {
  position: absolute;
  z-index: 0;
  margin-top: -2rem;
  margin-left: -10px;
}

.testimonials.grid.container {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.testimonials.person {
  background-color: hsl(219, 30%, 18%);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0 1.5rem;
  justify-content: center;
  -webkit-box-shadow: 8px 5px 9px 0px rgba(30, 39, 53, 0.8);
  -moz-box-shadow: 8px 5px 9px 0px rgba(30, 39, 53, 0.8);
  box-shadow: 8px 5px 9px 0px rgba(30, 39, 53, 0.8);
}

.testimonials.credentials {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 1rem;
}

.testimonials.credentials.profile-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}

img.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.section.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup.container {
  width: 50%;
  background-color: hsla(219, 30%, 13%);
  -webkit-box-shadow: 10px 0px 10px 0px rgba(17, 23, 36, 0.9);
  -moz-box-shadow: 10px 0px 10px 0px rgba(17, 23, 36, 0.9);
  box-shadow: 10px 0px 10px 0px rgba(17, 23, 36, 0.9);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  padding: 3rem 2rem;
}

.signup.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.input.field {
  color: black;
  border-radius: 50px;
  padding: 1.2rem 10rem;
  border: none;
  margin-right: 1rem;
  font-size: 15px;
}

.btn.signup {
  padding: 1.2em 2.5rem;
}

input[type="text"]::placeholder {
  color: #C5C5C5;
  text-align: left;
}

.section.footer {
  background-color: hsl(216, 53%, 9%);
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer.container {
  width: 90%;
}

.footer.content.grid {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr 1fr;
  padding: 2rem 0;
  grid-gap: 2rem;
}

.footer.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer.content.social {
  display: block;
}

img.footer-social {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid white;
  padding: 3px;
  border-radius: 50px;
  margin: 0 0.5em;
}

.footer.content.wicons {
  display: flex;
  flex-direction: row;
}

.footer.content.wicons.start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

p.footer.text {
  margin-top: 0;
}

img.footer-icon {
  margin-right: 2em;
}

.attribution {
  padding-top: 3em;
  padding-bottom: 2em;
  font-size: 11px;
  text-align: center;
  color: #C5C5C5;
}

.attribution a {
  color: #C5C5C5;
  text-decoration: underline;
}


@media only screen and (max-width: 800px) {
  nav ul li a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .btn {
    padding: 1rem 6rem;
  }

  p.hero {
    width: 100%;
  }

  h1.hero {
    font-size: 24px;
  }

  .section.benefits {
    padding: 15rem 0;
  }

  .benefits.container {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: auto;
  }

  .stay-productive.container {
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
  }

  img.stay-productive {
    padding-top: 5rem;
  }

  .stay-productive.right.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p.productive {
    width: 90%;
  }

  .section.stay-productive {
    margin-bottom: -5rem;
  }

  .testimonials.grid.container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto;
  }

  .signup.container {
    width: 80%;
  }

  .btn.signup {
    width: 100%;
    text-align: center;
  }

  .signup.input-input {
    width: 100%;
  }

}

@media only screen and (max-width: 700px) {

  p.productive {
    width: 80%;
  }

  .signup.container {
    width: 80%;
  }

}

@media only screen and (max-width: 1280px) {

  .signup.input {
    display: block;
  }

  .signup.input-btn {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }

}

@media only screen and (max-width: 1000px) {

  .signup.container {
    width: 80%;
  }

  .input.field {
    padding: 1.2rem 5rem;
  }

  .footer.content.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto;
    grid-row-gap: 0px;
  }

  .section.footer {
    padding-top: 20rem;
    padding-bottom: 0rem;
  }

  .attribution {
    padding-top: 0em;
  }

}
